<div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
	<a href="/">
	    <img src="http://31.media.tumblr.com/aa1779a718c2844969f23c4f5dec86b1/tumblr_mvyxhonf601st5lhmo1_1280.jpg" alt="Meadow">
	</a>

	<aside class="photo-box-caption">
	    <span>
	        by <a href="http://ngkhanhlinh.dunked.com/">Linh Nguyen</a>
	    </span>
	</aside>
</div>

<div class="photo-box u-1 u-med-1-1 u-lrg-1-1" id="map"></div>
<% if @events.any? %>
	<% @events.each do |event| %>
		<p><%= image_tag event.image.url(:thirtythree), class: 'uploaded-pic' %></p>
		<p>
			<%= event.title %> - <%= event.description %> 
		</p>
		<p>
			goes from <%= event.start_date %> to <%= event.end_date %> 
		</p>
		<p>
			<%= event.address %> - <%= event.city %> - <%= event.postcode %>
		</p>
		<p>
			posted by <%= event.foody.username %>.
		</p>
	<% end %>
<% else %>
No Events Yet Please Help
<% end %>
<%= link_to 'Create event', new_event_path, id: "", class: "" %>